<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>hello words vs ejs</h1>
    <div class="">
      <!-- <img src="../public/images/hoidanit.png" alt="" /> nếu dùng gợi ý thì sẽ sai  -->
      <img class="hoidanit" src="/images/hoidanit.png" alt="" />
    </div>
    <h2>dang test img public</h2>
  </body>
</html>
